<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dj Bluee</title>
    <link rel="stylesheet" href="css/main.css">
    <script defer src="/js/main.js"></script>
    <script src="js/gsap-public/minified/gsap.min.js"></script>
    <script defer src="/js/animation.js"></script>

</head>
<body>

        <section class="loading">
            <img src="img/dj1.gif" alt="" class="intro_img">
        </section>

        <section class="showcase">
            <nav class="nav_container">
    
                <a href="#" class="nav_logo"><img src="img/logo.png" alt="" class="logo"></a>
    
                <ul class="navbar nav_menu" id="nav_menu">
                    <li class="nav_item"><a href="#mix" class="nav_link">Mix</a></li>
                    <li class="nav_item"><a href="#events" class="nav_link">Events</a></li>
                    <li class="nav_item"><a href="#services" class="nav_link">Services</a></li>
                    <li class="nav_item"><a href="#gallery" class="nav_link">Gallery</a></li>
                    <li class="nav_item"><a href="#contact" class="nav_link">Contact Me</a></li>
                    <li class="nav_item"><a href="#merchandise" class="nav_link"><img src="img/shopping-cart-black-shape.png" class="icons" alt="" ></a></li>
                    </a></li>
    
                </ul>
    
                <div class="nav_toggle" id="nav_toggle">
                    <img src="img/align-justify.png"class="icons" alt="" >
                </div>
    
            </nav>
    
            <video src="videos/bluee_video.mp4" muted loop autoplay ></video>
            
            <div class="overlay"></div>
            <div class="text">
                <h1 class="dj">dj</h1>
                <h1 class="name">bluee</h1>
                <p class="sale">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus atque ratione nihil maiores iusto possimus odio minus assumenda labore odit.</p>
                <a href="/contact" class="contact_btn">contact me</a>
            
            </div>
        </section>
        <section class="mini_player play">
            <div class="music-info">           
        
                <audio src="/music/ukulele.mp3" id="audio"></audio>
        
                <div class="img-container">
                    <img src="img/logo.png" alt="music-cover" id="cover" />
                </div>
                <h4 id="title">ukelele</h4>
                <div class="navigation">
                    <button id="prev" class="action-btn">
                        <img src="/img/next-1.png" alt="" class="mini_icons">
                    </button>
                    <button id="play" class=" action-btn-big">
                    <img src="/img/play-button.png" alt="" class="mini_play">
                        </button>
                    <button id="next" class="action-btn">
                        <img src="/img/next-1.png" alt="" class="mini_icons">
                    </button>
                </div>
                <div class="progress-container" id="progress-container">
                    <div class="progress" id="progress"></div>
                </div>
            </div>
        </section>
    
    <section class="mix" id="mix">
        <div class="mix_heading headings">
            <h2>mix</h2>
        </div>
        <div class="mix_container">
            <div class="mix_list">
                <div class="mix_list_header">
                    <p class="option">most popular</p>
                    <p class="by">dj bluee</p>
                    <img src="/img/list-with-dots.png" alt="" class="playlist_icon">
                    <div class="mix_options">
                        <p>most popular</p>
                        <p>latest</p>
                        <p>favorite</p>
                    </div>
                </div>
                <div class="mix_list_content">
                    <div class="single_mix">
                        <p class="mix_id">01</p>
                        <img src="/img/online-3217733__340.webp" alt="" class="mix_thumbnail">
                        <p class="mix_title">genge mix</p>
                        <p class="mix_dec">Lorem, ipsum dolor</p>
                        <p class="mix_time">33:20</p>
                        <img src="/img/heart-shape-outline.png" alt="" class="mix_like">
                    </div>
                    
                    <div class="single_mix">
                        <p class="mix_id">01</p>
                        <img src="/img/online-3217733__340.webp" alt="" class="mix_thumbnail">
                        <p class="mix_title">genge mix</p>
                        <p class="mix_dec">Lorem, ipsum dolor</p>
                        <p class="mix_time">33:20</p>
                        <img src="/img/heart-shape-outline.png" alt="" class="mix_like">
                    </div>

                    <div class="single_mix">
                        <p class="mix_id">01</p>
                        <img src="/img/online-3217733__340.webp" alt="" class="mix_thumbnail">
                        <p class="mix_title">genge mix</p>
                        <p class="mix_dec">Lorem, ipsum dolor</p>
                        <p class="mix_time">33:20</p>
                        <img src="/img/heart-shape-outline.png" alt="" class="mix_like">
                    </div>

                    <div class="single_mix">
                        <p class="mix_id">01</p>
                        <img src="/img/online-3217733__340.webp" alt="" class="mix_thumbnail">
                        <p class="mix_title">genge mix</p>
                        <p class="mix_dec">Lorem, ipsum dolor</p>
                        <p class="mix_time">33:20</p>
                        <img src="/img/heart-shape-outline.png" alt="" class="mix_like">
                    </div>

                    <div class="single_mix">
                        <p class="mix_id">01</p>
                        <img src="/img/online-3217733__340.webp" alt="" class="mix_thumbnail">
                        <p class="mix_title">genge mix</p>
                        <p class="mix_dec">Lorem, ipsum dolor</p>
                        <p class="mix_time">33:20</p>
                        <img src="/img/heart-shape-outline.png" alt="" class="mix_like">
                    </div>

                </div>
            </div>
            <div class="mix_player">
                <div class="mix_player_header">
                    <p class="option">now playing</p>
                    <p class="by"><span id="">01</span> gengetone mix</p>
                </div>
                <div class="mix_player_content">
                    <div class="player">
                        <div class="img">
                            <img src="/img/online-3217733__340.webp" alt="">
                        </div>

                        <div class="mix_details">
                            <p class="mix_details_title">chance the rapper</p>
                            <p class="mix_details_by">dj blue</p>
                        </div>

                        <div class="mix_progress-container" id="progress-container">
                            <p class="start">00.00</p>
                            <div class="mix_progress" id="progress"></div>
                            <p class="end">30:25</p>
                        </div>

                    </div>
                    <div class="mix_list1">
                        <div class="mix_list_header">
                            <p class="option">most popular</p>
                            <p class="by">dj bluee</p>
                            <img src="/img/list-with-dots.png" alt="" class="playlist_icon">
                            <div class="mix_options">
                                <p>most popular</p>
                                <p>latest</p>
                                <p>favorite</p>
                            </div>
                        </div>
                        <div class="mix_list_content">
                            
                            
                            <div class="single_mix">
                                <p class="mix_id">01</p>
                                <img src="/img/online-3217733__340.webp" alt="" class="mix_thumbnail">
                                <p class="mix_title">genge mix</p>
                                <p class="mix_dec">Lorem, ipsum dolor</p>
                                <p class="mix_time">33:20</p>
                                <img src="/img/heart-shape-outline.png" alt="" class="mix_like">
                            </div>
        
                            <div class="single_mix">
                                <p class="mix_id">01</p>
                                <img src="/img/online-3217733__340.webp" alt="" class="mix_thumbnail">
                                <p class="mix_title">genge mix</p>
                                <p class="mix_dec">Lorem, ipsum dolor</p>
                                <p class="mix_time">33:20</p>
                                <img src="/img/heart-shape-outline.png" alt="" class="mix_like">
                            </div>
        
                            <div class="single_mix">
                                <p class="mix_id">01</p>
                                <img src="/img/online-3217733__340.webp" alt="" class="mix_thumbnail">
                                <p class="mix_title">genge mix</p>
                                <p class="mix_dec">Lorem, ipsum dolor</p>
                                <p class="mix_time">33:20</p>
                                <img src="/img/heart-shape-outline.png" alt="" class="mix_like">
                            </div>
        
                            <div class="single_mix">
                                <p class="mix_id">01</p>
                                <img src="/img/online-3217733__340.webp" alt="" class="mix_thumbnail">
                                <p class="mix_title">genge mix</p>
                                <p class="mix_dec">Lorem, ipsum dolor</p>
                                <p class="mix_time">33:20</p>
                                <img src="/img/heart-shape-outline.png" alt="" class="mix_like">
                            </div>
        
                        </div>
                    </div>
                    <div class="mix_navigation">
                        <img src="/img/couple-of-arrows-changing-places.png" alt="" class="mix_icons">
                        <img src="/img/forward-button.png" alt="" class="mix_icons">
                        <img src="img/play-button.png" alt="" class="play_btn">
                        <img src="/img/forward-button.png" alt="" class="mix_icons">
                        <img src="img/list-with-dots.png" alt="" class="mix_icons" id="mix_list">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="events">
        <div class="events_heading headings">
            <h2>events</h2>
        </div>

        <div class="events_container">
            <div class="event_img">
                         
            </div>
            <div class="events_contents">
                <hr class="events_lines">
                <div class="event">
                    <div class="event_info">
                        <p>koroka festival</p>
                        <p>by safaricom</p>
                    </div>
                    <div class="event_date">
                        <p>23 jan</p>
                    </div>
                </div>

                <hr class="events_lines">
                <div class="event">
                    <div class="event_info">
                        <p>koroka festival</p>
                        <p>by safaricom</p>
                    </div>
                    <div class="event_date">
                        <p>23 jan</p>
                    </div>
                </div>

                <hr class="events_lines">
                <div class="event">
                    <div class="event_info">
                        <p>koroka festival</p>
                        <p>by safaricom</p>
                    </div>
                    <div class="event_date">
                        <p>23 jan</p>
                    </div>
                </div>

                <hr class="events_lines">
                <div class="event">
                    <div class="event_info">
                        <p>koroka festival</p>
                        <p>by safaricom</p>
                    </div>
                    <div class="event_date">
                        <p>23 jan</p>
                    </div>
                </div>
                <hr class="events_lines">
            </div>
        </div>
    </section>

    <section class="services">
        <div class="services_heading headings">
            <h2>services</h2>
        </div>

        <div class="hire_me">
            <h3 class="hire_me_heading">
                why hire me?
            </h3>
            <p class="hire_me_body">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis eaque, atque recusandae quasi temporibus soluta, a labore praesentium distinctio, vitae amet repudiandae? Blanditiis, quasi earum.
            </p>
        </div>

        <div class="services_container">
            <div class="service">
                <img src="/img/heart-shape-silhouette.png" alt="" class="icons service_icon">
                <div class="service_content">
                    <h3 class="service_heading">Lorem ipsum dolor sit</h3>
                    <p class="service_body">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate vero quod quaerat at perferendis corrupti?
                    </p>
                    <button class="service_cta" >contact me</button>
                </div>
            </div>

            <div class="service">
                <img src="/img/heart-shape-silhouette.png" alt="" class="icons service_icon">
                <div class="service_content">
                    <h3 class="service_heading">Lorem ipsum dolor sit</h3>
                    <p class="service_body">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate vero quod quaerat at perferendis corrupti?
                    </p>
                    <button class="service_cta" >contact me</button>
                </div>
            </div>

            <div class="service">
                <img src="/img/heart-shape-silhouette.png" alt="" class="icons service_icon">
                <div class="service_content">
                    <h3 class="service_heading">Lorem ipsum dolor sit</h3>
                    <p class="service_body">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate vero quod quaerat at perferendis corrupti?
                    </p>
                    <button class="service_cta" >contact me</button>
                </div>
            </div>

        </div>
    </section>

    <section class="gallery">
        <div class="gallery_heading headings">
            <h2>gallery</h2>
        </div>

        <div class="gallery_containner">
            
        </div>
    </section>

    <section id="contact" class="contact">
        <div class="contact_heading headings">
            <h2>contact me</h2>
        </div>
        <div class="contact_container">
            <div class="contact_content">
                <div class="contact_box">
                    <img src="/src/img/align-justify.png" alt="" class="icons">
                    <h3 class="contact_title">Phone</h3>
                    <span class="contact_description">999-888-777</span>               
                </div>

                <div class="contact_box">
                    <img src="/src/img/align-justify.png" alt="" class="icons">
                    <h3 class="contact_title">Location</h3>
                    <span class="contact_description">#123 Lima -peru</span>               
                </div>

                <div class="contact_box">
                    <img src="/src/img/align-justify.png" alt="" class="icons">
                    <h3 class="contact_title">Email</h3>
                    <span class="contact_description">clayuser@gmail.com</span>               
                </div>

                <div class="contact_box">
                    <img src="/src/img/align-justify.png" alt="" class="icons">
                    <h3 class="contact_title">Chat</h3>
                    <div>
                        <a href="" class="contact_social"><img src="/src/img/align-justify.png" class="icons" alt=""></a>
                        <a href="" class="contact_social"><img src="/src/img/align-justify.png" class="icons" alt=""></a>
                        <a href="" class="contact_social"><img src="/src/img/align-justify.png" class="icons" alt=""></a>

                    </div>               
                </div>
            </div>

            <form action="" class="contact_forms">
                <div class="contact_inputs">
                    <input type="text" placeholder="Name" class="contact_form">
                    <input type="email" placeholder="Email" class="contact_form">
                </div>

                <div class="contact_inputs">
                    <input type="text" placeholder="Gig" class="contact_form">
                    <input type="number" placeholder="Number" class="contact_form">
                </div>

                <textarea name="" id="" cols="0" rows="7" placeholder="Message" class="contact_info"></textarea>

                <input type="submit" value="Send Message" class="contact_button">
            </form>
        </div>
    </section>
</body>
</html>