<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dj Bluee</title>
    <link rel="stylesheet" href="css/main.css">
    <script defer src="/js/main.js"></script>
    <script src="js/gsap-public/minified/gsap.min.js"></script>
    <script defer src="/js/animation.js"></script>
    <script defer src="/js/gallery.js"></script>
    <script defer src="/js/music player.js"></script>
    <script defer src="/js/mini_player.js"></script>

</head>
<body>

        <section class="loading">
            <img src="img/dj1.gif" alt="" class="intro_img">
        </section>

        <section class="showcase">
            <nav class="nav_container">
    
                <a href="#" class="nav_logo"><img src="img/logo.png" alt="" class="logo"></a>
    
                <ul class="navbar nav_menu" id="nav_menu">
                    <li class="nav_item"><a href="#mix" class="nav_link">Mix</a></li>
                    <li class="nav_item"><a href="#events" class="nav_link">Events</a></li>
                    <li class="nav_item"><a href="#services" class="nav_link">Services</a></li>
                    <li class="nav_item"><a href="#gallery" class="nav_link">Gallery</a></li>
                    <li class="nav_item"><a href="#contact" class="nav_link">Contact Me</a></li>
                    <li class="nav_item"><a href="#merchandise" class="nav_link"><img src="img/shopping-cart-black-shape.png" class="icons" alt="" ></a></li>
                    </a></li>
    
                </ul>
    
                <div class="nav_toggle" id="nav_toggle">
                    <img src="img/align-justify.png"class="icons" alt="" >
                </div>
    
            </nav>
    
            <video src="video" muted loop autoplay ></video>
            
            <div class="overlay"></div>
            <div class="text">
                <h1 class="dj">dj</h1>
                <h1 class="name">bluee</h1>
                <p class="sale">Turn up your party with the best dj in the 254.For events/parties</p>
                <a href="/contact" class="contact_btn">contact me</a>
            
            </div>
        </section>
        <section class="mini_player " id="mini_player">
            <div class="music-info">           
        
                <audio src="/audio" id="audio1"></audio>
        
                <div class="img-container">
                    <img src="img/GENGETONE1.jpg" alt="music-cover" id="cover1"/>
                </div>
                <h4 id="title1">gengetone1</h4>
                <div class="navigation">
                    <button id="prev1" class="action-btn">
                        <img src="/img/next-1.png" alt="" class="mini_icons">
                    </button>
                    <button id="play1" class=" action-btn-big">
                    <img src="/img/play-button.png" alt="" class="mini_play">
                        </button>
                    <button id="next1" class="action-btn">
                        <img src="/img/next-1.png" alt="" class="mini_icons">
                    </button>
                </div>
                <div class="progress-container" id="progress-container1">
                    <div class="progress" id="progress1"></div>
                </div>
            </div>
        </section>
    
    <section class="mix" id="mix">
        <div class="mix_heading headings">
            <h2>mix</h2>
        </div>
        <div class="mix_container">
            <div class="mix_list">
                <div class="mix_list_header">
                    <p class="option">most popular</p>
                    <p class="by" >dj bluee</p>
                    <img src="/img/list-with-dots.png" alt="" class="playlist_icon">
                    <div class="mix_options">
                        <p>most popular</p>
                        <p>latest</p>
                        <p>favorite</p>
                    </div>
                </div>
                <div class="mix_list_content">
                    <div class="single_mix">
                        <p class="mix_id">01</p>
                        <img src="/img/GENGETONE1.jpg" alt="" class="mix_thumbnail">
                        <p class="mix_title">gengetone1</p>
                        <p class="mix_dec">gengetone vol2</p>
                        <p class="mix_time">33:20</p>
                        <img src="/img/heart-shape-outline.png" alt="" class="mix_like">
                    </div>
                    
                    <div class="single_mix">
                        <p class="mix_id">02</p>
                        <img src="/img/reggae.jpg" alt="" class="mix_thumbnail">
                        <p class="mix_title">reggae</p>
                        <p class="mix_dec">reggae road</p>
                        <p class="mix_time">33:20</p>
                        <img src="/img/heart-shape-outline.png" alt="" class="mix_like">
                    </div>

                    <div class="single_mix">
                        <p class="mix_id">03</p>
                        <img src="/img/naija.jpg" alt="" class="mix_thumbnail">
                        <p class="mix_title">naija</p>
                        <p class="mix_dec">naija 2021</p>
                        <p class="mix_time">33:20</p>
                        <img src="/img/heart-shape-outline.png" alt="" class="mix_like">
                    </div>

                    <div class="single_mix">
                        <p class="mix_id">04</p>
                        <img src="/img/bongo.jpg" alt="" class="mix_thumbnail">
                        <p class="mix_title">bongo</p>
                        <p class="mix_dec">bongo 2021</p>
                        <p class="mix_time">33:20</p>
                        <img src="/img/heart-shape-outline.png" alt="" class="mix_like">
                    </div>

                    <div class="single_mix">
                        <p class="mix_id">05</p>
                        <img src="/img/mugithi.jpg" alt="" class="mix_thumbnail">
                        <p class="mix_title">mugithi</p>
                        <p class="mix_dec">mugithi 2021</p>
                        <p class="mix_time">33:20</p>
                        <img src="/img/heart-shape-outline.png" alt="" class="mix_like">
                    </div>

                </div>
            </div>
            <div class="mix_player">
                <div class="mix_player_header">
                    <p class="option">now playing</p>
                    <p class="by" id="by"><span id="">01</span> gengetone mix</p>
                </div>
                <div class="mix_player_content">
                    <div class="player">
                        <div class="img" >
                            <img src="/img/GENGETONE1.jpg" alt="" id="cover">
                        </div>

                        <div class="mix_details">
                            <p class="mix_details_title" id="title">gengetone</p>
                            <p class="mix_details_by">gengetone 2021</p>
                        </div>

                        <div class="mix_progress-container" id="progress-container">
                            <p class="start" id="currTime">00.00</p>
                            <div class="mix_progress" id="progress"></div>
                            <p class="end" id="durTime">30:25</p>
                        </div>
                        <!-- ../music/ukulele.mp3 -->
                        <audio src="/audio" id="audio" type="audio/mp3"></audio>
                        

                    </div>
                    <div class="mix_list1">
                        <div class="mix_list_header">
                            <p class="option">most popular</p>
                            <p class="by">dj bluee</p>
                            <img src="/img/list-with-dots.png" alt="" class="playlist_icon">
                            <div class="mix_options">
                                <p>most popular</p>
                                <p>latest</p>
                                <p>favorite</p>
                            </div>
                        </div>
                        <div class="mix_list_content">
                            
                            
                            <div class="single_mix">
                                <p class="mix_id">01</p>
                                <img src="/img/gengetone.jpg" alt="" class="mix_thumbnail">
                                <p class="mix_title">gengetone1</p>
                                <p class="mix_dec">gengetone vol 2</p>
                                <p class="mix_time">33:20</p>
                                <img src="/img/heart-shape-outline.png" alt="" class="mix_like">
                            </div>
        
                            <div class="single_mix">
                                <p class="mix_id">02</p>
                                <img src="/img/reggae.jpg" alt="" class="mix_thumbnail">
                                <p class="mix_title">reggae</p>
                                <p class="mix_dec">reggae road block</p>
                                <p class="mix_time">33:20</p>
                                <img src="/img/heart-shape-outline.png" alt="" class="mix_like">
                            </div>
        
                            <div class="single_mix">
                                <p class="mix_id">03</p>
                                <img src="/img/naija.jpg" alt="" class="mix_thumbnail">
                                <p class="mix_title">naija</p>
                                <p class="mix_dec">naija 2021</p>
                                <p class="mix_time">33:20</p>
                                <img src="/img/heart-shape-outline.png" alt="" class="mix_like">
                            </div>
        
                            <div class="single_mix">
                                <p class="mix_id">04</p>
                                <img src="/img/bongo.jpg" alt="" class="mix_thumbnail">
                                <p class="mix_title">bongo</p>
                                <p class="mix_dec">bongo 2021</p>
                                <p class="mix_time">33:20</p>
                                <img src="/img/heart-shape-outline.png" alt="" class="mix_like">
                            </div>
        
                        </div>
                    </div>
                    <div class="mix_navigation">
                        <img src="/img/couple-of-arrows-changing-places.png" alt="" class="mix_icons">
                        <img src="/img/forward-button.png" alt="" class="mix_icons" id="next">
                        <img src="img/play-button.png" alt="" class="play_btn" id="play">
                        <img src="/img/forward-button.png" alt="" class="mix_icons" id="prev">
                        <img src="img/list-with-dots.png" alt="" class="mix_icons" id="mix_list">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="events" id="events">
        <div class="events_heading headings">
            <h2>events</h2>
        </div>

        <div class="events_container">
            <div class="event_img" id="event_img">
                         
            </div>
            <div class="events_contents">
                <hr class="events_lines">
                <div class="event">
                    <div class="event_info">
                        <p>mashuja party</p>
                        <p>by ol-peject</p>
                    </div>
                    <div class="event_date">
                        <p>20 oct</p>
                    </div>
                    <img src="/img/e1.jpg" alt="">
                </div>

                <hr class="events_lines">
                <div class="event">
                    <div class="event_info">
                        <p>huduma eve</p>
                        <p>by pardus lodge</p>
                    </div>
                    <div class="event_date">
                        <p>23 jan</p>
                    </div>
                    <img src="/img/e5.jpg" alt="">
                </div>

                <hr class="events_lines">
                <div class="event">
                    <div class="event_info">
                        <p>stopover festival</p>
                        <p>by ol-peject</p>
                    </div>
                    <div class="event_date">
                        <p>28 aug</p>
                    </div>
                    <img src="/img/e3.jpg" alt="">
                </div>

                <hr class="events_lines">
                <div class="event">
                    <div class="event_info">
                        <p>koroga festival</p>
                        <p>by linx</p>
                    </div>
                    <div class="event_date">
                        <p>23 aug</p>
                    </div>
                    <img src="/img/e4.jpg" alt="">
                </div>
                <hr class="events_lines">
            </div>
        </div>
    </section>

    <section class="services" id="services">
        <div class="services_heading headings">
            <h2>services</h2>
        </div>

        <div class="hire_me">
            <h3 class="hire_me_heading">
                why hire me?
            </h3>
            <p class="hire_me_body">
                Dj Bluee is a great DJ, not only does he have an outgoing and energetic personality, but also can “read a crowd” and play the appropriate music to ensure your dance floor is packed all night long.
            </p>
        </div>

        <div class="services_container">
            <div class="service">
                <img src="/img/heart-shape-silhouette.png" alt="" class="icons service_icon">
                <div class="service_content">
                    <h3 class="service_heading">Wedding Event</h3>
                    <p class="service_body">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate vero quod quaerat at perferendis corrupti?
                    </p>
                    <button class="service_cta" >contact me</button>
                </div>
            </div>

            <div class="service">
                <img src="/img/heart-shape-silhouette.png" alt="" class="icons service_icon">
                <div class="service_content">
                    <h3 class="service_heading">Birthday Party</h3>
                    <p class="service_body">
                        Make your birthday bash memorable with good music, photography and live MCs.
                    </p>
                    <button class="service_cta" >contact me</button>
                </div>
            </div>

            <div class="service">
                <img src="/img/heart-shape-silhouette.png" alt="" class="icons service_icon">
                <div class="service_content">
                    <h3 class="service_heading">Dj Acadamey</h3>
                    <p class="service_body">
                        Do you dream of becoming a dj? Come and learn from the best in the industry.
                    </p>
                    <button class="service_cta" >contact me</button>
                </div>
            </div>

        </div>
    </section>

    <section class="gallery" id="gallery">
        <div class="gallery_heading headings">
            <h2>gallery</h2>
            <a href="https://www.instagram.com/djbluee254/"><img src="img/ig.png" alt="" class="icons gallery_icon"></a>
        </div>

        <div class="gallery_containner">
            <div class="images_containner">
                <div class="prev" id="gallery_prev">
                    <p>prev</p>
                </div>
                <div class="images">
                    <img data-name="porkies" src="img/1.jpg" alt=""  class="even">
                    <img data-name="meet & grill" src="img/2.jpg" alt="" class="even1">
                    <img data-name="mr&mrs nyaga wedding" src="img/3.jpg" alt="" class="odd">
                    <img data-name="koroga" src="img/4.jpg" alt="" class="odd1" ff="ff">
                    <img data-name="porkies" src="img/5.jpg" alt=""  class="even">
                    <img data-name="meet & grill" src="img/6.jpg" alt="" class="even1">
                    <img data-name="mr&mrs nyaga wedding" src="img/9.jpg" alt="" class="odd">
                    <img data-name="mr&mrs nyaga wedding" src="img/8.jpg" alt="" class="odd">
                    <img data-name="mr&mrs nyaga wedding" src="img/7.jpg" alt="" class="odd">
                </div>
                <div class="next" id="gallery_next">
                    <p>next</p>
                </div>
            </div>
            <h1 class="event_name" id="event_name">Koroga festival</h1>
        </div>
    </section>

    <section id="contact" class="contact">
        <div class="contact_heading headings">
            <h2>contact me</h2>
        </div>
        <div class="contact_container">
            <div class="contact_content">
                <div class="contact_box">
                    <img src="/img/phone-call.png" alt="" class="icons">
                    <h3 class="contact_title">Phone</h3>
                    <span class="contact_description">999-888-777</span>               
                </div>

                <div class="contact_box">
                    <img src="/img/home.png" alt="" class="icons">
                    <h3 class="contact_title">Location</h3>
                    <span class="contact_description">#123 Lima -peru</span>               
                </div>

                <div class="contact_box">
                    <img src="/img/gmail.png" alt="" class="icons">
                    <h3 class="contact_title">Email</h3>
                    <span class="contact_description">clayuser@gmail.com</span>               
                </div>

                <div class="contact_box">
                    <img src="/img/chat.png" alt="" class="icons">
                    <h3 class="contact_title">Chat</h3>
                    <div>
                        <a href="" class="contact_social"><img src="/img/twitter.png" class="icons" alt=""></a>
                        <a href="" class="contact_social"><img src="/img/facebook.png" class="icons" alt=""></a>
                        <a href="" class="contact_social"><img src="/img/icons8-instagram-40.png" class="icons" alt=""></a>

                    </div>               
                </div>
            </div>

            <form action="" class="contact_forms">
                <div class="contact_inputs">
                    <input type="text" placeholder="Name" class="contact_form">
                    <input type="email" placeholder="Email" class="contact_form">
                </div>

                <div class="contact_inputs">
                    <input type="text" placeholder="Gig" class="contact_form">
                    <input type="number" placeholder="Number" class="contact_form">
                </div>

                <textarea name="" id="" cols="0" rows="7" placeholder="Message" class="contact_info"></textarea>

                <input type="submit" value="Send Message" class="contact_button">
            </form>
        </div>
    </section>
</body>
</html>